<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Vanilla Web!</h1>
    <nav>
        <a href="{{ url_for('login') }}">Login</a> |
        <a href="{{ url_for('register') }}">Register</a>
        {% if session.get('is_admin') %}
        | <a href="{{ url_for('admin') }}">Admin Console</a>
        {% endif %}
        {% if session.get('username') %}
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </nav>
</body>
</html>